@{
    ViewBag.Title = "Contact";
}
<h2>Contato</h2>

<address>
    <img src="~/ProdutoImagens/house.png" width="50" height="50" /><br />
    <abbr title="Endereço"></abbr>
    Avenida Marques de São Vicente<br />
    São Vicente, SP <br />
    <br />

    <img src="~/ProdutoImagens/telephone.png" width="50" height="50" /><br />
    <abbr title="Telefone"></abbr>
    11 3131-3131<br />
    <br />

    <img src="~/ProdutoImagens/calendar.png" width="50" height="50" /><br />
    <abbr title="Horario de Atendimento"></abbr>
    De 2ª a 6ª das 8:00 às 18:00<br />
    e sabado das 8:00 às 17:00<br />
    <br />


    <img src="~/ProdutoImagens/arroba.png" width="50" height="50" /><br />
    <abbr title="Email"></abbr>
    LowTunningBR@email.com<br />

</address>

